body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-bottom: 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    /* margin-top: 0; */
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 2.5rem; */
    /* font-weight: 300; */
    /* margin-top: 0; */
}

hr {
    width: 4%;
    border: dotted 6px #EAF6F6;
    border-bottom: 0;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.section1 {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
    margin-bottom: 100px;
    /* height: 100%; */
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}   

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.pro {
    text-decoration: underline;
}

.profile-picture {
    width: 13%;
}

.section2 {
    line-height: 2;
}

.intro {
    margin: 0 auto;
    width: 30%;
    /* line-height: 2; */
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    /* line-height: 2; */
}

.computer-img {
    width: 25%;
    float: left;
    margin-right: 20px;
}

.chillies-img {
    width: 25%;
    float: right;
    margin-left: 20px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
    /* line-height: 2; */
}

.section3 {
    background-color: #66BFBF;
    padding: 50px 0;
}

.footer-link {
    margin: 10px 20px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    margin: 40px 0 0;
}

